* {
    font-family: veranda;
    margin: 0;
}

.col-2 {
    padding-top: 5px;
}

.snippetsButton {
    width: 140px;
    float: left;
    margin-left: 0px;
    border: none;
    color: white;
}

#searchBtn {
    background-color:  #2E4158;
    color: white;
    height: 33px;
    width: auto;
}

#searchForm {
    width: 100px;
    float: left;
   
}

#categoryBtn {
    background: #52C4B9;
}

#categoryBtn a {
    font-family: 'Lato', sans-serif;
    color: black;
}

.navBar {
    list-style-type: none;
    float: left;
}

.navButton {
    width: 140px;
    float: left;
    margin-left: 0;
    border: none;
    
}

.navLink a:hover {
    background-color: rgb(148, 226, 218);
}

.navLink a:active {
    background-color: grey;
    color: black;
}

@media screen and (min-width: 768px){
    .navBar {
        display: flex;
        justify-content: left;
        font-size: 25px;
    }
}