/* * {
    border: solid .5px red !important;
  } */

.header-container {
    background-color: #89C7CB;
}

#navbar-background {
    background-color: purple;
}

.navbar-brand {
    font-size: 30px;
    color: white;
    margin: auto;
    margin-left: 0px;
    }

.greeting {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-y: auto;
}

.header-link a {
    margin-y: auto;
    margin-left: 20px;
    padding: 0 0 0 0px;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.snippet-brand {
    display: inline-block;
    color: white;
    padding: 9px 15px 0px 0px;
    margin-y: auto;
    float: left;
}

.welcome-message {
    color: white;
}