* {
    font-family: 'Lato', sans-serif;
    margin: 0;
}



/* menu base styles */
.navHeader  {
    background: #2E4158;
    font-size: 25px;
}

.navUl {
    list-style-type: none;
    padding: 0;
}

.font1 {
    font-family: 'Lato', sans-serif;
}

.font2 {
    font-family: 'Merienda', cursive;
}



.navA {
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 10px;
}

.navA:hover {
    background: #555;
    text-decoration: none;
    color: #fff;
}


/* flex styles */

@media screen and (min-width: 768px){
    .navUl {
        display: flex;
        justify-content: space-around;
        font-size: 25px;
    }
}